body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
    color: #2e2f42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}

.nav-item-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-link:hover,
.address-item-link:focus {
    color: #404bbf;
}

.section {
    padding: 120px 0;
}

.box {
    padding: 188px 0;
    background-size: cover;
    background-color: #2e2f42;
    position: relative;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    position: relative;
}

.box-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
}

.box-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-btn:hover,
.box-btn:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    padding: 120px auto;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    flex-basis: calc((100% - 72px) / 4);
}

.svg_logo_one {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team {
    background-color: #f4f4fd;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
}

.our_card {
    padding: 32px 0;
}

.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-item-text {
    text-align: center;
    margin-bottom: 8px;
}

.social_media_list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social_media_list_item {
    width: 40px;
    height: 40px;
}

.icon_backg {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_backg:hover,
.icon_backg:focus {
    background-color: #404bbf;
}

.icon-two {
    fill: #f4f4fd;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-chance {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-chance:hover .portfolio-text {
    transform: translateY(0%);
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-title-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer_sol {
    margin-right: 120px;
}

.logo-link-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo {
    color: #ffffff;
}

.footer-text {
    color: #ffffff;
    max-width: 264px;
}

.social_media {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer a svg {
    fill: #f4f4fd;
}

.social_media_footer {
    display: flex;
    gap: 16px;
}

.social_media_footer_item {
    width: 40px;
    height: 40px;
}

.icon_footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_footer:hover,
.icon_footer:focus {
    background-color: #31d0aa;
}

.subscribe_cont {
    margin-left: 80px;
    width: 453px;
    height: 80px;
}

.subscribe_p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe_form {
    display: flex;
    gap: 24px;

}

.subscribe_lab {
    display: flex;
    gap: 24px;
}

.subscribe_inp {

    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe_btn {
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    flex-wrap: nowrap;
    overflow: visible;
    gap: 16px;
}

.icon_send {
    margin-left: 16px;
    fill: #f4f4fd;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal_exit {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_exit:hover,
.modal_exit:focus {
    background-color: #404bbf;
    border: none;
}

.icon-exit {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_exit:hover .icon-exit {
    fill: #ffffff;
}

.modal_exit:focus .icon-exit {
    fill: #ffffff;
}

.modal_p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal_form {
    margin-bottom: 8px;
}

.label_name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal_input {
    position: relative;
}

.modal_name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_name:focus {
    border-color: #4D5AE5;
}

.icon-person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_name:focus+.icon-person {
    fill: #4D5AE5;
}

.modal_area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_area:focus {
    border-color: #4D5AE5;
}

.modal_check {
    margin-bottom: 24px;

}

.visually-hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.modal_checklabel {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label_dogrulama {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

input:checked+label .label_dogrulama {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.label_privacy {
    color: #4d5ae5;
}

.btn_send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 95px;
    border-radius: 4px;
}

.area {
    margin-bottom: 16px;
}

.is-open {
    display: none;
}


@media screen and (min-width: 320px)and (max-width:767px) {
    body {
        .header-nav .nav-list {
            display: none;
        }

        .header-address {
            display: none;
        }

        .container {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .header-container {
            margin: 16 16;
            height: 56px;
        }

        .header-menu .icon-menu {
            margin: 16 16;
        }

        .box .section {
            height: 432px;
            width: 100%;
        }

        .benefits .container .benefits-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 72px;

        }

        .benefits {
            width: 100%;
            padding-top: 96px;
            padding-bottom: 96px;

        }

        .benefits-item-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 111%;
            letter-spacing: 0.02em;
            text-align: center;
        }

        .benefits-item-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
        }

        .svg_logo_one {
            display: none;

        }

        .team .section {
            width: 100%;
        }

        .section .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .container .team-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 72px;
        }

        .portfolio .section {
            width: 100%;

        }

        .portfolio .section .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container .portfolio-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 48px;
        }

        .portfolio-chance:hover {
            overflow: visible;
        }

        .portfolio-chance {
            overflow: visible;
        }

        .portfolio-text {
            display: none;
        }

        .portfolio-item {
            width: 100%;

        }

        .footer {
            padding: 96px auto;
            width: 100%;
        }

        .footer .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .subscribe_cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 0;
            margin-top: 92px;
        }

        .subscribe_form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .footer_sol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 72px;
            margin-right: 0;
        }

        .svg_logo_three {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .mobile {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(46, 47, 66, 0.4);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .mobile-menu {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fcfcfc;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 24px 24px 16px;

        }

        .mobile-nav-item-link {
            font-weight: 700;
            font-size: 36px;
            line-height: 111%;
            letter-spacing: 0.02em;
            color: #2E2F42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        }

        .mobile-nav-item-link:active {
            color: #404bbf;
        }

        .mobile-nav-list {
            display: flex;
            gap: 40px;
            flex-direction: column;
        }

        .mobile-address-item-link {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #2E2F42;
        }

        .mobile-address {
            margin-top: 168px;
            margin-bottom: 48px;
        }

        .mobile-address-list {
            display: flex;
            gap: 24px;
            flex-direction: column;
        }

        .mobile-address-item-link:active,
        .mobile-address-item-link:hover,
        .mobile-address-item-link:focus {
            color: #404bbf;
        }

        .social_media_list {
            display: flex;
            gap: 40px;

        }

        .mobile-menu .is-open {
            display: none;
        }

        .modal-container {
            width: unset;
            min-height: unset;

        }
    }


}

@media screen and (min-width: 768px) {
    body {
        .header-menu {
            display: none;
        }

    }
}

@media screen and (min-width: 1158px) {
    body {
        .header-menu {
            display: none;
        }
    }
}

@media screen and (min-width:1440px) {
    body {
        .header-menu {
            display: none;
        }
    }
}